*{
    margin: 0px;
    font-family: "inter";
}

#logo{
    
}

#titulomenu{
    margin-top: 50px;
    margin-left: 150px;
    color: #FFFFFF;
    font-size: 15px;
}

#textomenusuperior{
    margin-left: 150px;
    margin-top: 20px;
    padding-bottom: 50px;
    color: #FFFFFF;

}

#menusuperior{
    background-image: url(imagens/fundo-menu-superior.svg);
}

#menuinformacional{
    background-color:#EAECE5 ;
     color: #122235;
     display: grid;
     grid-auto-flow: column;
     columns: auto;
}

.icones{
    margin: 50px 0px 50px 100px;
    padding: 5px;
}

.textoinformacional{
    display: flex;
    align-items: center
    ;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 75px;
}

#carrosel{
    background-color: #247BA0;
    padding: 80px;
}

#titulocarrosel{
    color: #EAECE5;
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

#divcards{
    display: grid;
    grid-auto-flow: column;
}

.cards{
    margin-left: 25px;
    margin-top: 30px;
}

#setaesquerda{
    display: none;
}

#setadireita{
    margin-left: 25px;
}

#samantha{
    display: none;
}

.seta{
    margin-top: 100px;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

#tituloformulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;

}

#formulario{
    text-align: center;
}

input{
    width: 300px;
    height: 40px;
    background-color: rgba(234, 236, 229, 1);
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 13px;
}

button{
    background-color: rgba(36, 123, 160, 1);
    height: 40px;
    width: 250px;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px; 
    border: 0px; 
    margin-bottom: 50px; 
    font-weight: bolder; 
    cursor: pointer; 
}

button:hover{
    background-color: rgb(63, 157, 197);
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px 15px rgba(24, 80, 104, 0.336);
    transition-duration: 0.7s;
}